<h1>Оплаченные группы</h1>
<table>
  <thead>
    <tr>
      <th>Группа</th>
      <th>Товар</th>
      <th>Товар в симе</th>
      <th>Количество</th>
      <th>Статус</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <td>{{this.groupId}}</td>
      <td>
        <a href="https://tridva.store/offers/{{this.group.offerId}}">
          {{this.group.offerId}} <box-icon name='link-external'></box-icon>
        </a>
      </td>
      <td>
        <a target="_blank" href="https://sima-land.ru/{{this.group.offer.sid}}">
          {{this.group.offer.sid}} <box-icon name='link-external'></box-icon>
        </a>
      </td>
      <td>{{this.count}}</td>
      <td>{{this.status}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>