<h1>Оплаченные группы</h1>
<table>
  <thead>
    <tr>
      <th>Группа</th>
      <th>Товар</th>
      <th>Товар в симе</th>
      <th>Покупатель</th>
      <th>Вместимость</th>
      <th>Количество участников</th>
      <th>Количество</th>
      <th>Статус</th>
      <th>Действие</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <td>{{this.groupId}}</td>
      <td>
        <a href="https://tridva.store/offers/{{this.group.offerId}}">
          {{this.group.offerId}} <box-icon name='link-external'></box-icon>
        </a>
      </td>
      <td>
        <a target="_blank" href="https://sima-land.ru/{{this.group.offer.sid}}">
          {{this.group.offer.sid}} <box-icon name='link-external'></box-icon>
        </a>
      </td>
      <td>
        <a href="/admin/users/{{this.order.userId}}">
          <div>
            <p>UserId = {{this.order.userId}}</p>
            <p>+7{{this.order.user.phone}}</p>
          </div>
        </a>
      </td>
      <td>{{this.group.capacity}}</td>
      <td>{{this.group.participantsCount}}</td>
      <td>{{this.count}}</td>
      <td>{{this.status}}</td>
      <td>
        <button onclick="{{on-change-group-order-status this}}">
          {{transitionName this.status}}
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>