<h1>Заказанные товары</h1>
<table>
  <thead>
    <tr>
      <th>Заказ</th>
      <th>Товар</th>
      <th>Товар в симе</th>
      <th>Количество</th>
      <th>Статус</th>
      <th>Действие</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <td>
        <a href="/admin/orders/{{this.orderId}}">
          {{this.orderId}}
        </a>
      </td>
      <td>
        <a href="https://tridva.store/offers/{{this.offerId}}">
          {{this.offerId}} <box-icon name='link-external'></box-icon>
        </a>
      </td>
      <td>
        <a target="_blank" href="https://sima-land.ru/{{this.offer.sid}}">
          {{this.offer.sid}} <box-icon name='link-external'></box-icon>
        </a>
      </td>
      <td>{{this.count}}</td>
      <td>{{this.status}}</td>
      <td>
        <button onclick="{{on-change-offer-order-status this}}">
          {{transitionName this.status}}
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>