<h1>Order {{order.id}}</h1>
<h4 class="clickable" onclick="window.location = '/admin/users/{{order.userId}}';">user id - {{order.userId}}</h4>

{{#if groups.length}}
<h2>Group orders</h2>
<table>
  <thead>
    <tr>
      <th>Group id</th>
      <th>Offer id</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each groups}}
    <tr>
      <td>{{this.groupId}}</td>
      <td>
        <a href="https://tridva.store/offers/{{this.group.offerId}}">
          {{this.group.offerId}} <box-icon name='link-external'></box-icon>
        </a>
      </td>
      <td>{{this.status}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}

{{#if offers.length}}
<h2>Order offers</h2>
<table>
  <thead>
    <tr>
      <th>Offer id</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each offers}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.status}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}